#Dashboard {
  #Menu {
    left: 0;
    background-color: #2db87f;
    z-index: 9999;
    top: 0;
    overflow: auto;
    .LINKS {
      a {
        font-size: 20px;
        font-weight: 500;
        color: white;
        &:hover {
          color: black;
        }
      }
      .active {
        color: #000;
      }
    }
    .logo {
      cursor: pointer;
    }
    .topMenu {
      border-bottom: 1px solid #eeeeee;
    }
    .siteName {
      color: #ffffff;
      font-size: 30px;
      font-weight: bold;
    }
  }
  #DashHome,
  #AllCourses,
  #Categories,
  #Reviews,
  #InstrucorsDash,
  #UsersDash,
  #MessagesDash {
    right: 0;
    table {
      tr {
        td {
          background-color: #eff4f5;
          border-color: white;
          cursor: pointer;
        }
      }
      thead {
        td {
          font-weight: 500;
          font-size: 18px;
        }
      }
      tbody {
        td {
          a {
            &:hover {
              color: #2db87f;
            }
          }
        }
      }
    }
  }
  #DashHome {
    .add {
      cursor: pointer;
    }
  }
}
#AddCourseForm {
  .filter {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0000008e;
    z-index: 99999;
  }
  .FormContainer {
    border-radius: 0.5rem;
    background-color: #c1d8c3;
    height: 90%;
    overflow: auto;
  }
  .error {
    color: #d93025;
    margin-top: 5px;
    font-weight: 600;
  }
  form {
    div {
      input,
      select,
      textarea {
        border: none;
        padding: 0.2rem;
        border-radius: 0.4rem;
        &:focus {
          outline: 0;
        }
      }
      a {
        color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
        font-weight: 600;
      }
    }
  }
}
