#SignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
  background-image: url("../../assets/images/BG-3.webp");
  background-color: #f0f4f5;
  z-index: 22;
  height: 100vh;
  form {
    inset: 4px;
    background-color: #2eb980;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    h2 {
      color: #ffffff;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.1em;
    }
    .inputBox {
      position: relative;
      width: 300px;
      margin-top: 13px;
      input {
        position: relative;
        width: 100%;
        padding: 20px 10px 10px;
        background-color: transparent;
        outline: none;
        border: none;
        box-shadow: none;
        color: #fff;
        font-size: 1em;
        letter-spacing: 0.05em;
        transition: 0.5s;
        z-index: 10;
        color: black;
      }
      .show {
        top: 50%;
        right: 5%;
        display: none;
        cursor: pointer;
        z-index: 111;
      }
      input:valid ~ .show,
      input:focus ~ .show {
        display: block;
      }
      input:valid ~ span,
      input:focus ~ span {
        color: white;
        font-size: 0.75em;
        transform: translateY(-34px);
      }
      input:valid ~ i,
      input:focus ~ i {
        height: 44px;
      }
      span {
        position: absolute;
        left: 0;
        padding: 20px 0px 10px;
        pointer-events: none;
        font-size: 1em;
        letter-spacing: 0.05em;
        transition: 0.5s;
        font-weight: 600;
      }
      i {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        border-radius: 4px;
        overflow: hidden;
        transition: 0.5s;
        pointer-events: none;
      }
    }
    .imageInput {
      span {
        pointer-events: none;
        font-size: 1em;
        letter-spacing: 0.05em;
        transition: 0.5s;
        font-weight: 600;
      }
    }
    .userName {
      margin-top: 10px;
    }
    .links {
      display: flex;
      justify-content: space-between;
      a {
        margin: 10px 0;
        font-size: 0.75em;
        font-weight: 600;
        &:hover {
          color: #fff;
        }
      }
      .signup {
        color: #fff;
      }
    }
    .submitBTN {
      border: 0;
      outline: 0;
      padding: 9px 25px;
      background-color: #fff;
      cursor: pointer;
      border-radius: 4px;
      font-weight: 600;
      width: 100px;
      margin-top: 10px;
      align-self: center;
      &:active {
        opacity: 0.8;
      }
    }
  }
  .imgCon {
    border: 1px solid #2eb980;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 35%;
    background-color: #fff;
    height: 100%;
    img {
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .error {
    color: #d93025;
    margin-top: 5px;
    font-weight: 600;
  }
  @media (max-width: 992px) {
    form {
      width: 50%;
      .inputBox {
        width: 200px;
      }
    }
    .imgCon {
      width: 45%;
    }
  }
  @media (max-width: 768px) {
    padding: 0;
    form {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      width: 380px;
      height: auto;
      .inputBox {
        width: auto;
      }
    }
    .imgCon {
      display: none;
      object-fit: contain;
    }
  }
}
