#CourseLessons {
  padding: 2rem;
  #LessonsList {
    box-shadow: 20px 0px 30px 0 rgba(0, 0, 0, 0.05);
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: white;
    .active {
      color: #1ab69d;
    }
    .accordion-item:first-of-type > .accordion-header .accordion-button {
      background-color: transparent;
    }
    .accordion-button {
      font-size: 20px;
      font-weight: 600;
      &:focus {
        box-shadow: none !important;
      }
    }
    [dir="rtl"] & {
      .accordion-button:not(.collapsed)::after,
      .accordion-button::after {
        position: absolute;
        left: 3%;
      }
    }
    .accordion-button:not(.collapsed) {
      background-color: transparent !important;
      border-bottom: 0 !important;
    }
    .lessonName {
      cursor: pointer;
      &:hover {
        color: #1ab69d;
      }
    }
  }
  #Content {
    p {
      border-top: 1px solid beige;
      padding: 1rem;
    }
  }
}
