#Checkout {
  padding: 5rem 1rem;
  background: #f2f2f2;
  max-height: 90vh;
  h4 {
    color: #01338d;
  }
  .formCon {
    height: 620px;
  }
  .courseInfo {
    p {
      font-size: 17px;
      font-weight: 600;
      span {
        font-size: 16px;
        color: #02225e;
        font-weight: 600;
      }
    }
  }
  .imgCon {
    width: 500px;
    height: 100%;
  }
  form {
    border-radius: 0.5rem;
    padding: 1rem;
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
    input {
      padding: 0.5rem;
      border-radius: 0.5rem;
      box-shadow: 1px 2px 5px whitesmoke;
      border: 1px solid #b5cfe8;
      font-size: 18px;
      color: #01338d;
      font-weight: 300;
      &:focus {
        outline: 1px solid #01338d;
      }
    }
    .error {
      color: #d93025;
      font-weight: 600;
    }
  }
}
