.NavBar {
  position: sticky !important;
  top: 0;
  z-index: 999;
  background: white;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.05);
  .logo,
  .searchIcon,
  .menuIcon {
    cursor: pointer;
  }
  .menuIcon svg {
    font-size: 24px;
  }
  .siteName {
    color: #2db87f;
    font-size: 30px;
    font-weight: bold;
  }
  .navLinks {
    border-right: 3px solid #f3f3f3;
    .active {
      color: #2db87f;
    }
    a {
      font-weight: 500;
      font-size: 20px;
      color: #231f40;
      &:hover {
        color: #2db87f;
      }
    }
  }
}
