#ForgetPassword {
  #Header {
    background-color: #f5f9fa;
    padding: 5rem;
    .backgroundFilter {
      top: 0;
      left: 0;
    }
    h1 {
      width: 60%;
      text-align: center;
      font-size: 3.5rem;
      z-index: 2;
    }
    p,
    a,
    svg {
      text-align: center;
      z-index: 2;
      font-size: 1.5rem;
    }
    a:hover {
      color: #1ab69d;
    }
    @media (max-width: 992px) {
      h1 {
        font-size: 2rem;
        width: 100%;
      }
    }
  }
  #Informations {
    .contactInfo {
      p {
        color: #8b8b8b;
      }
    }
    form {
      box-shadow: 0px 0px 50px 0px
        rgba(25.999999999999996, 46, 84.99999999999999, 0.1);
      input,
      textarea {
        border: none;
        outline: none;
        border-bottom: #e5e5e5 solid 1px;
        padding-bottom: 5px;
        &:focus {
          border-bottom-color: #1ab69d;
        }
      }
    }
  }
}
