#SingleInstructorPage {
  .header {
    h1 {
      font-size: 50px;
    }
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f9fa;
    p {
      font-size: 30px;
    }
    @media (max-width: 776px) {
      h1 {
        font-size: 30px;
      }
      padding: 2rem;
    }
  }
  #InstructorInfo {
    .instructorImage {
      border-radius: 50%;
      margin-bottom: 1rem;
      object-fit: cover;
    }
    .contacts {
      a {
        padding: 0.5rem;
        border: 1px solid #e7e7e7;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          font-size: 20px;
          color: grey;
          transition: 0.5s;
        }
        &:hover {
          background-color: #1ab69d;
          border-color: #1ab69d;
          svg {
            color: white;
          }
        }
      }
    }
    .info {
      .instructorName {
        font-size: 25px;
        font-weight: bold;
      }
      .instructorJob {
        font-size: 18px;
        color: #8b8b8b;
      }
    }
  }
}
