#SingleInstructorPage {
  .header {
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f9fa;
    p {
      font-size: 30px;
    }
  }
}
