@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
[dir="rtl"] body {
  font-family: "Beiruti", sans-serif;
  font-weight: 100;
}
.EN {
  direction: ltr;
}
html {
  scroll-behavior: smooth;
}
p,
h1,
h2,
h3,
span,
ul {
  margin: 0;
}

body {
  height: 100vh;

  width: 100%;
  #root,
  .App {
    min-height: 100vh;
    width: 100%;
  }
}

// @media screen and (min-width: 100px) {
//   /* font at xs */
//   html {
//     font-size: 10px !important;
//   }
// }

// @media screen and (min-width: 768px) {
//   /* font at sm */
//   html {
//     font-size: 12px !important;
//   }
// }

// @media screen and (min-width: 991px) {
//   /* font at md */
//   html {
//     font-size: 14px !important;
//   }
// }

// @media screen and (min-width: 1200px) {
//   /* font at lg */
//   html {
//     font-size: 16px !important;
//   }
// }

a {
  color: black;
  text-decoration: none;
}
